body,
html {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.42;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include roboto();
}

.blog {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1 0 auto;
}

.header,
.footer {
  flex-shrink: 0
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
}

.footer-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.section {
  min-height: 650px;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: SansusWebissimo;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

button,
.btn {
  border: none;
  background-color: transparent;
  padding: 0;
  text-align: center;
  font-family: inherit;
  user-select: none;
  cursor: pointer;
  transition: .3s;

  &:disabled,
  &[disabled="disabled"] {
    cursor: not-allowed;
  }
}

.text-block {
  p {
    margin-bottom: 20px;
    font-size: 16px;
  }
}