header.header
            ul.social.header__social
                li.social__item
                    a(href="" target="_blank" rel="noopener nofollow").social__link
                        span.visuallyhidden Моя страница Вконтакте
                        +icon("vk", "")
                li.social__item
                    a(href="" target="_blank" rel="noopener nofollow").social__link
                        span.visuallyhidden Моя профиль на Github 
                        +icon("github", "")
                li.social__item
                    a(href="" target="_blank" rel="noopener nofollow").social__link
                        span.visuallyhidden Моя страница LinkedIn
                        +icon("in", "")
            button.btn-burger.header__burger
                span.btn-burger__icon