extends ../main.layout.pug

block variables
  - var title = 'Блог'

block content

    .blog
    
        include ../common/header.pug


        section.hero.blog__hero
            .hero__main
                .hero__photo
                    img(src="./images/content/user.jpg", alt="Рощин Максим").hero__img
                h1.title.hero__title Блог
                span.hero__subtitle Статьи которые я написал
            button.btn-arrow.hero__arrow
                span.visuallyhidden Перейти к следующей секции
                +icon("arrow_down", "")


        main.blog__main

            aside.aside.blog__main-left
                button.aside__btn
                ul.aside__menu
                    li.aside__menu-item 
                        a(href="#article1").aside__menu-link Самое важное в SASS
                    li.aside__menu-item
                        a(href="#article2").aside__menu-link Самое важное в SASS
                    li.aside__menu-item
                        a(href="#article3").aside__menu-link Самый необходимый набор Gulp плагинов
                    li.aside__menu-item
                        a(href="#article4").aside__menu-link Почему я выбрал PUG

            section.blog__main-right
                article.article-blog.blog__article#article1
                    header.article-blog__header
                        h2.article-blog__title Самое важное в SASS
                        time(datetime="2016-11-22").article-blog__date 2016-11-22
                    .article-blog__content
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. 
                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании.

                article.article-blog.blog__article#article2
                    header.article-blog__header
                        h2.article-blog__title Самое важное в SASS
                        time(datetime="2016-11-22").article-blog__date 2016-11-22
                    .article-blog__content
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. 
                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

                article.article-blog.blog__article#article3
                    header.article-blog__header
                        h2.article-blog__title Самый необходимый набор Gulp плагинов
                        time(datetime="2016-11-22").article-blog__date 2016-11-22
                    .article-blog__content
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. 
                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

                article.article-blog.blog__article#article4
                    header.article-blog__header
                        h2.article-blog__title Самое важное в SASS
                        time(datetime="2016-11-22").article-blog__date 2016-11-22
                    .article-blog__content
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. 
                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.


        include ../common/footer.pug